http://www.directorylister.com/#intro


/* --------------------------------------------------------------------- */
/* ------------|######################################|----------------- */
/*-------------| This is for mobile support by Vaseto |----------------- */
/*-------------| For more at: vasilslavchev@gmail.com |----------------- */
/*-------------| http://www.directorylister.com/      |----------------- */
/* ------------|######################################|----------------- */
/* --------------------------------------------------------------------- */
@media screen and (max-width: 940px) {

    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        width: 100%;
    }

    #header .fileName, #directoryListing .fileName {
        width: 50%;
        margin: auto auto;
        /*padding: 0;*/
    }

    #header .fileSize, #directoryListing .fileSize  {
        width: 10%;
        margin: auto auto;
        /*padding: 0;*/
    }

    #header .fileModTime, #directoryListing .fileModTime  {
        width: 30%;
        margin: auto auto;
        /*padding: 0;*/
    }

    .breadcrumb li:nth-child(3),
    .breadcrumb li:nth-child(4),
    .breadcrumb li:nth-child(5),
    .breadcrumb li:nth-child(6) {
        display: none;
    }

}
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */